* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: url(./bedroom/bg5.png),
    linear-gradient(#010001, rgb(228, 219, 221));
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 100%;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: calc(0% - 0.25em);
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0%);
  transform-origin: right;
  transform-origin: left;
  background-color: lightseagreen;
  transition: all 200ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.navbar ul li a:hover::after {
  transform: scaleX(100%);
  transform-origin: left; 
}
.containerSlider{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  }
  .slider{
  width: 650px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  
  }
  .slides{
  width: 500%;
  height: 500px;
  display: flex;
  }
  .slides input{
  display: none;   
  }
  .slide{
  width: 20%;
  transition: 2s;
  }
  .slide img{
  width: 650px;
  height: 350px;
  }
  /*css for manual slide navigation*/
  .navigation-manual{
  position: absolute;
  width: 800px;
  margin-top:325px;
  display: flex;
  justify-content: center;
  
  }
  .manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  }
  .manual-btn:not(:last-child){
  margin-right: 40px;
  }
  .manual-btn:hover{
  background:#40D3DC;
  }
  #radio1:checked ~ .first{
  margin-left: 0;
  }
  #radio2:checked ~ .first{
  margin-left: -20%;
  }
  #radio3:checked ~ .first{
  margin-left: -40%;
  }
  #radio4:checked ~ .first{
  margin-left: -60%;
  }
  #radio5:checked ~ .first{
  margin-left: -80%;
  }
  
  /* css for automatic navigation*/
  
  
  .navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
  }
  .navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  }
  .navigation-auto div:not(:last-child){
  margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
  background: #40D3DC;
  }
